.app-container {
  height: 100vh;
  padding: 20rem;
  padding-top: 2rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.app-btn-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.app-cont-row {
  margin-top: 2rem !important;
  /* width: 60%; */
  text-align: center;
}
